.simpleContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(238, 232, 224);
    margin: 10px 0 10px 0;
}